h1{
    font-style: oblique;
    font-size: 40pt;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center; 
}

table {
  margin: 0 auto;
  font-style: oblique;
  font-size: 25pt;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center; 
 
} 

button{
	position: relative;
	top: 70px;
	left: 75px;
	border: 5px solid black;
    padding:  0em 1em;
    border-radius: 16px;
    font-size: 15px;
    line-height: 2;
}


html {
    background-color: #9ce487;
}
